In [1]:
# Pandas
import pandas as pd
# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()
# SqlAlchemy
from sqlalchemy import create_engine

In [2]:
# Creating connection to MySQL
connection = "mysql+pymysql://root:root@localhost/sakila"
# Creating engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

## Queries

In [15]:
q = """
SELECT c.first_name, c.last_name, c.email, c.address_id  
FROM customer AS c
JOIN address
ON c.address_id = address.city_id
WHERE address.city_id = 312;
"""
pd.read_sql_query(q, engine)

  first_name last_name                          email  address_id
0     JOSEPH       JOY  JOSEPH.JOY@sakilacustomer.org         312
1     JOSEPH       JOY  JOSEPH.JOY@sakilacustomer.org         312

In [ ]:
q = """
SELECT 
"""
pd.read_sql_query(q, engine)

![png](https://s3.amazonaws.com/General_V88/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)